body {
  text-align: center;
  font-family: 'Roboto', sans-serif; }

.machine {
  padding: 20px;
  display: inline-block;
  background-color: #dbdbdb;
  text-align: center;
  border: 3px solid #b3b3b3; }
  .machine h1 {
    margin: 5px;
    font-size: 40px; }

.window {
  width: 170px;
  height: 200px;
  margin: 20px 5px;
  overflow: hidden;
  display: inline-block;
  background-color: white;
  border-radius: 20px;
  box-shadow: 2px 2px 20px -5px black; }
  .window ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
  .window li {
    height: 200px;
    line-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box; }
    .window li .fruit {
      margin: 0 auto;
      background: url("../img/fruits.png") no-repeat center;
      text-indent: 300px; }
    .window li .grapes {
      background-position: 0 0;
      width: 148px;
      height: 180px; }
    .window li .orange {
      background-position: -430px 0;
      width: 150px;
      height: 150px; }
    .window li .pineapple {
      background-position: -300px 0;
      width: 122px;
      height: 180px; }
    .window li .plum {
      background-position: -152px 0;
      width: 144px;
      height: 180px; }
    .window li .strawberry {
      background-position: -584.9999847412109px 0;
      width: 150px;
      height: 166px; }

.message {
  text-align: center;
  height: 20px;
  font-size: 20px; }

.buttons {
  margin-top: 10px; }
  .buttons button {
    width: 80px;
    height: 80px;
    background-color: #ffe03c;
    border: 3px solid #d7b814;
    border-radius: 10px;
    display: inline-block;
    margin: 5px auto;
    cursor: pointer;
    font-size: 18px; }
    .buttons button:hover {
      background-color: #ffea46; }
    .buttons button:focus {
      outline: none;
      border-color: #c3a400; }

.gold-container {
  display: inline-block;
  margin-top: 10px;
  position: relative; }
  .gold-container .gold {
    display: inline-block;
    vertical-align: top;
    font-size: 70px;
    margin: 5px; }
  .gold-container .scored {
    position: absolute;
    top: 15px;
    right: -90px;
    display: none;
    font-size: 50px; }
